html {
    cursor: url(../images/Pink\ Donut\ 1.cur), auto;
}

body {
    text-align: center;
    background-image: url(../images/simpson-background.jpg);
}

#container {
    text-align: center;
    color: orange;
    font-family: 'Rock Salt', cursive;
    background: rgba(237, 237, 243, .7);
    width: 100%;
    border-radius: 5px;
    margin-left: 5%;
   /*padding-top: 50px;*/
    margin-top: 50px;
    border: 5px;
}

#questions {
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Rock Salt', cursive;
    background: rgba(237, 237, 243, .7);
    width: 90%;
    border-radius: 5px;
    margin-left: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 40px;
    border: 5px;
    line-height: 300%;
    word-spacing: 20px;
    letter-spacing: 2px;
    /*text-shadow:
		-1px -1px 0 orange,
		1px -1px 0 orange,
		-1px 1px 0 orange,
		1px 1px 0 orange;*/
}

#startButton {
    background: sandybrown;
}

#answer {
    background: sandybrown;
    margin-top: 40px;
}