html {
    cursor: url(../images/Pink\ Donut\ 1.cur), auto;
}

body {
    text-align: center;
    background-image: url(../images/simpson-background.jpg);
}

#container {
    text-align: center;
    color: orange;
    font-family: cursive;
    background: rgba(237, 237, 243, .7);
    width: 90%;
    border-radius: 5px;
    margin-left: 5%;
    padding-top: 50px;
    margin-top: 50px;
    border: 5px;
}

#questions {
    text-align: center;
    font-family: cursive;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    background: rgba(237, 237, 243, .7);
    padding-top: 10px;
    padding-bottom: 10px;
}

#startButton {
    background: sandybrown;
}